In [50]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [51]:
dataset = pd.read_csv('.\\files\\Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [52]:
    x = dataset.iloc[:, 3:13].values
    y = dataset.iloc[:, -1].values

In [53]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
label_encoder_1 = LabelEncoder()
label_encoder_2 = LabelEncoder()
x[:, 1] = label_encoder_1.fit_transform(x[:, 1])
x[:, 2] = label_encoder_1.fit_transform(x[:, 2])
onehotencoder = OneHotEncoder(categorical_features=[1])
x = onehotencoder.fit_transform(x).toarray()
x = x[:, 1:]
print(x.shape)
print(x[1:5, :])

(10000, 11)
[[0.0000000e+00 1.0000000e+00 6.0800000e+02 0.0000000e+00 4.1000000e+01
  1.0000000e+00 8.3807860e+04 1.0000000e+00 0.0000000e+00 1.0000000e+00
  1.1254258e+05]
 [0.0000000e+00 0.0000000e+00 5.0200000e+02 0.0000000e+00 4.2000000e+01
  8.0000000e+00 1.5966080e+05 3.0000000e+00 1.0000000e+00 0.0000000e+00
  1.1393157e+05]
 [0.0000000e+00 0.0000000e+00 6.9900000e+02 0.0000000e+00 3.9000000e+01
  1.0000000e+00 0.0000000e+00 2.0000000e+00 0.0000000e+00 0.0000000e+00
  9.3826630e+04]
 [0.0000000e+00 1.0000000e+00 8.5000000e+02 0.0000000e+00 4.3000000e+01
  2.0000000e+00 1.2551082e+05 1.0000000e+00 1.0000000e+00 1.0000000e+00
  7.9084100e+04]]

C:\Users\Bala\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\Bala\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [57]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)
print(x_train)

[[0.0000000e+00 1.0000000e+00 6.6700000e+02 ... 1.0000000e+00
  0.0000000e+00 1.6383064e+05]
 [1.0000000e+00 0.0000000e+00 4.2700000e+02 ... 1.0000000e+00
  1.0000000e+00 5.7098000e+04]
 [0.0000000e+00 0.0000000e+00 5.3500000e+02 ... 1.0000000e+00
  0.0000000e+00 1.8563076e+05]
 ...
 [0.0000000e+00 0.0000000e+00 7.3800000e+02 ... 1.0000000e+00
  0.0000000e+00 1.8142987e+05]
 [0.0000000e+00 1.0000000e+00 5.9000000e+02 ... 1.0000000e+00
  1.0000000e+00 1.4875016e+05]
 [1.0000000e+00 0.0000000e+00 6.2300000e+02 ... 1.0000000e+00
  0.0000000e+00 1.1885526e+05]]

In [58]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)