In [213]:
# Importing required libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [214]:
# pandas styling
pd.options.display.max_rows = None
pd.options.display.max_colwidth = -1
pd.options.display.width = None
pd.options.display.max_columns = None

In [215]:
# Importing the dataset
dataset = pd.read_csv(r"C:\Users\Bala\OneDrive\Documents\Big_Data_Programming\Project\PythonCodes\new.csv", encoding= 'iso-8859-1')

In [216]:
# Displaying first few records
dataset.head()

,url,id,Lng,Lat,Cid,tradeTime,DOM,followers,totalPrice,price,square,livingRoom,drawingRoom,kitchen,bathRoom,floor,buildingType,constructionTime,renovationCondition,buildingStructure,ladderRatio,elevator,fiveYearsProperty,subway,district,communityAverage
0,https://bj.lianjia.com/chengjiao/101084782030.html,101084782030,116.475489,40.019520,1111027376244,2016-08-09,1464.0,106,415.0,31680,131.00,2,1,1,1,¸ß 26,1.0,2005,3,6,0.217,1.0,0.0,1.0,7,56021.0
1,https://bj.lianjia.com/chengjiao/101086012217.html,101086012217,116.453917,39.881534,1111027381879,2016-07-28,903.0,126,575.0,43436,132.38,2,2,1,2,¸ß 22,1.0,2004,4,6,0.667,1.0,1.0,0.0,7,71539.0
2,https://bj.lianjia.com/chengjiao/101086041636.html,101086041636,116.561978,39.877145,1111040862969,2016-12-11,1271.0,48,1030.0,52021,198.00,3,2,1,3,ÖÐ 4,4.0,2005,3,6,0.500,1.0,0.0,0.0,7,48160.0
3,https://bj.lianjia.com/chengjiao/101086406841.html,101086406841,116.438010,40.076114,1111043185817,2016-09-30,965.0,138,297.5,22202,134.00,3,1,1,1,µ× 21,1.0,2008,1,6,0.273,1.0,0.0,0.0,6,51238.0
4,https://bj.lianjia.com/chengjiao/101086920653.html,101086920653,116.428392,39.886229,1111027381174,2016-08-28,927.0,286,392.0,48396,81.00,2,1,1,1,ÖÐ 6,4.0,1960,2,2,0.333,0.0,1.0,1.0,1,62588.0

In [217]:
# Displaying detailed info about variables 
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318851 entries, 0 to 318850
Data columns (total 26 columns):
url                    318851 non-null object
id                     318851 non-null object
Lng                    318851 non-null float64
Lat                    318851 non-null float64
Cid                    318851 non-null int64
tradeTime              318851 non-null object
DOM                    160874 non-null float64
followers              318851 non-null int64
totalPrice             318851 non-null float64
price                  318851 non-null int64
square                 318851 non-null float64
livingRoom             318851 non-null object
drawingRoom            318851 non-null object
kitchen                318851 non-null int64
bathRoom               318851 non-null object
floor                  318851 non-null object
buildingType           316830 non-null float64
constructionTime       318851 non-null object
renovationCondition    318851 non-null int64
buildingStructure      318851 non-null int64
ladderRatio            318851 non-null float64
elevator               318819 non-null float64
fiveYearsProperty      318819 non-null float64
subway                 318819 non-null float64
district               318851 non-null int64
communityAverage       318388 non-null float64
dtypes: float64(11), int64(7), object(8)
memory usage: 63.2+ MB

In [218]:
# Displaying number of null on each variables
dataset.isnull().sum()

url                    0
id                     0
Lng                    0
Lat                    0
Cid                    0
tradeTime              0
DOM                    157977
followers              0
totalPrice             0
price                  0
square                 0
livingRoom             0
drawingRoom            0
kitchen                0
bathRoom               0
floor                  0
buildingType           2021
constructionTime       0
renovationCondition    0
buildingStructure      0
ladderRatio            0
elevator               32
fiveYearsProperty      32
subway                 32
district               0
communityAverage       463
dtype: int64

In [219]:
# Removing columns which are not neccessary
dataset = dataset.iloc[:, 2:26]
dataset = dataset.drop('tradeTime', axis = 1)
dataset = dataset.drop('Cid', axis = 1)
# Removing DOM variable as its having more than 50% of null
dataset = dataset.drop('DOM', axis = 1)

In [220]:
# Displaying detailed info about variables 
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318851 entries, 0 to 318850
Data columns (total 21 columns):
Lng                    318851 non-null float64
Lat                    318851 non-null float64
followers              318851 non-null int64
totalPrice             318851 non-null float64
price                  318851 non-null int64
square                 318851 non-null float64
livingRoom             318851 non-null object
drawingRoom            318851 non-null object
kitchen                318851 non-null int64
bathRoom               318851 non-null object
floor                  318851 non-null object
buildingType           316830 non-null float64
constructionTime       318851 non-null object
renovationCondition    318851 non-null int64
buildingStructure      318851 non-null int64
ladderRatio            318851 non-null float64
elevator               318819 non-null float64
fiveYearsProperty      318819 non-null float64
subway                 318819 non-null float64
district               318851 non-null int64
communityAverage       318388 non-null float64
dtypes: float64(10), int64(6), object(5)
memory usage: 51.1+ MB

In [221]:
# Dealing with variables with type object

In [222]:
dataset['livingRoom'].value_counts()

2         83333
2         77256
1         42138
1         40248
3         36044
3         31567
4         3472
4         3349
5         570
5         537
6         126
6         102
#NAME?    32
7         22
0         17
7         15
0         11
8         4
8         3
9         3
9         2
Name: livingRoom, dtype: int64

In [223]:
dataset['drawingRoom'].value_counts()

1        115876
1        109783
2        39084
2        33418
0        11300
0        8386
3        474
3        444
4        31
4        16
µÍ 6     7
ÖÐ 6     6
5        5
ÖÐ 16    3
¶¥ 6     2
ÖÐ 14    2
5        2
¸ß 14    2
ÖÐ 22    1
µÍ 15    1
¸ß 12    1
µ× 28    1
¸ß 6     1
µ× 11    1
ÖÐ 15    1
µ× 20    1
µÍ 16    1
ÖÐ 24    1
Name: drawingRoom, dtype: int64

In [224]:
dataset['bathRoom'].value_counts()

1       206915
1       54573
2       42367
2       10239
3       2712
0       804
3       528
4       425
0       111
4       64
5       53
5       16
6       9
2006    9
2003    5
2004    4
2000    3
Î´Öª    2
1990    2
7       2
2003    2
2005    2
1994    1
7       1
1996    1
2011    1
Name: bathRoom, dtype: int64

In [225]:
dataset['floor'].value_counts()

ÖÐ 6        34788
¶¥ 6        22763
¸ß 6        20904
µÍ 6        15737
µ× 6        13338
ÖÐ 5        8227
ÖÐ 18       7982
¸ß 18       6536
µÍ 18       6258
ÖÐ 16       6151
ÖÐ 7        4914
ÖÐ 24       4764
ÖÐ 11       4549
µÍ 16       4174
ÖÐ 20       4145
¸ß 24       4014
¸ß 16       4003
ÖÐ 14       3993
µÍ 24       3941
ÖÐ 22       3465
ÖÐ 12       3196
ÖÐ 21       3124
¶¥ 5        3075
ÖÐ 26       2796
ÖÐ 28       2726
µÍ 21       2632
ÖÐ 15       2572
µÍ 22       2549
µÍ 20       2544
¸ß 21       2540
¸ß 22       2540
ÖÐ 9        2442
¸ß 20       2442
ÖÐ 10       2394
¸ß 12       2369
ÖÐ 17       2366
ÖÐ 25       2344
µÍ 12       2261
¸ß 28       2183
µÍ 28       2078
µ× 5        2073
µÍ 15       1980
¸ß 15       1909
µÍ 26       1885
µÍ 14       1874
¸ß 14       1872
ÖÐ 19       1868
¸ß 25       1837
¸ß 26       1820
ÖÐ 13       1804
¸ß 11       1804
µÍ 25       1777
µÍ 11       1748
¸ß 7        1728
ÖÐ 27       1709
µÍ 9        1660
ÖÐ 4        1598
¸ß 9        1596
¸ß 27       1494
ÖÐ 23       1484
µÍ 27       1371
µÍ 7        1348
¸ß 19       1323
µÍ 17       1243
µ× 7        1210
¶¥ 18       1207
ÖÐ 8        1202
¸ß 10       1193
µÍ 19       1184
¸ß 17       1173
µÍ 10       1128
¸ß 13       1043
ÖÐ 32       982
µ× 18       978
¸ß 23       939
µÍ 13       932
¶¥ 16       881
ÖÐ 30       862
µÍ 23       839
¶¥ 11       821
¶¥ 9        781
¶¥ 4        758
µÍ 30       757
µ× 16       739
¸ß 32       735
¸ß 30       727
¶¥ 12       706
ÖÐ 29       705
¶¥ 7        698
µ× 11       676
µÍ 32       656
µ× 4        650
µ× 3        639
µ× 9        613
¶¥ 14       593
¸ß 29       530
µÍ 29       507
µ× 12       504
¶¥ 24       493
¶¥ 20       489
¶¥ 10       485
µ× 10       448
µ× 14       448
¶¥ 15       438
¶¥ 21       405
¶¥ 22       377
µ× 24       373
µ× 15       365
µ× 20       353
µ× 1        332
µÍ 8        307
¸ß 8        298
µ× 21       289
¶¥ 13       288
µ× 22       278
Î´Öª 6      261
¶¥ 3        259
¶¥ 28       255
¶¥ 8        252
ÖÐ 31       247
µ× 13       239
µ× 8        236
¶¥ 17       229
¶¥ 25       215
ÖÐ 34       211
¶¥ 19       205
µ× 17       199
µÍ 3        196
ÖÐ 33       196
¸ß 31       194
µÍ 31       188
µÍ 33       187
¶¥ 26       181
µ× 26       178
µ× 25       172
¸ß 33       171
µÍ 34       169
µ× 28       167
¶¥ 27       159
¸ß 34       158
µ× 2        146
¶¥ 23       137
µ× 19       123
µ× 27       96
Î´Öª 5      91
µ× 23       83
Î´Öª 12     82
¶¥ 32       75
Î´Öª 7      63
¶¥ 30       60
Î´Öª 10     59
Î´Öª 25     58
Î´Öª 23     57
¶¥ 29       57
Î´Öª 14     57
µ× 30       53
Î´Öª 18     52
Î´Öª 20     52
Î´Öª 16     51
Î´Öª 8      47
Î´Öª 11     45
Î´Öª 28     40
¶¥ 2        38
µ× 29       35
Î´Öª 31     31
µ× 32       29
Î´Öª 21     28
Î´Öª 26     26
Î´Öª 27     25
Î´Öª 17     23
Î´Öª 15     19
Î´Öª 22     19
Î´Öª 19     18
Î´Öª 9      17
Î´Öª 4      17
¸Ö»ì½á¹¹    17
µÍ 42       16
¶¥ 34       15
»ìºÏ½á¹¹    15
Î´Öª 30     13
ÖÐ 42       13
µ× 33       10
Î´Öª 24     9
¸ß 36       7
¸ß 37       7
¶¥ 33       7
µ× 31       6
¸ß 42       5
ÖÐ 37       5
Î´Öª 13     5
¶¥ 31       4
Î´Öª 3      4
µÍ 37       4
ÖÐ 36       3
ÖÐ 35       3
µÍ 36       2
µ× 34       2
Î´Öª 29     2
ÖÐ 57       2
µÍ 35       1
µÍ 5        1
µÍ 63       1
µÍ 2        1
Name: floor, dtype: int64

In [226]:
dataset['constructionTime'].value_counts().head(30)

2004    21145
2003    19409
Î´Öª    19283
2005    18924
2006    14854
2007    14213
2000    13903
2002    12358
2008    12162
2009    11565
1998    11308
2001    10597
1999    10204
1995    9073
1996    9068
1992    8482
1990    8394
1994    7735
2010    7243
1993    6754
1997    6463
1988    5576
2011    5520
1989    5493
2012    5057
1987    4943
1986    4865
1985    4705
1991    4329
1984    3349
Name: constructionTime, dtype: int64

In [227]:
# Creating method to find and replace invalid data with np.nan
def replacenull(data, length):
    if data.isdigit() and len(data) == length:
        return int(data)
    else:
        return np.nan

In [228]:
# Replacing np.nan for the below variables which have unreadable characters
dataset['livingRoom']= dataset['livingRoom'].apply(lambda x: replacenull(str(x), 1))
dataset['drawingRoom']= dataset['drawingRoom'].apply(lambda x: replacenull(str(x), 1))
dataset['bathRoom']= dataset['bathRoom'].apply(lambda x: replacenull(str(x), 1))
dataset['constructionTime']= dataset['constructionTime'].apply(lambda x: replacenull(str(x), 4))

In [229]:
# Finding categorical values
for item in dataset.columns:
    print(dataset[item].value_counts().head(15))
    print('---------------------------')

116.343245    1526
116.609957    1514
116.439420    1350
116.330198    1334
116.512916    1265
116.247008    1247
116.441781    1174
116.416156    1060
116.431552    885
116.415742    874
116.432684    872
116.530553    854
116.477730    756
116.439341    739
116.346630    731
Name: Lng, dtype: int64
---------------------------
39.900529    1526
39.919830    1514
40.072066    1350
40.074228    1334
39.906426    1247
39.991956    1174
40.082585    1060
40.082903    885
40.077796    874
40.077562    872
39.921425    854
39.864254    782
40.002156    756
40.082372    739
40.096608    731
Name: Lat, dtype: int64
---------------------------
0     83487
1     25572
2     18200
3     14775
4     12567
5     10838
6     9514
7     8536
8     7605
9     6900
10    6270
11    5719
12    5325
13    4998
14    4635
Name: followers, dtype: int64
---------------------------
300.0    2685
200.0    2332
230.0    2324
220.0    2185
210.0    2177
320.0    2169
260.0    2155
280.0    2137
310.0    2069
350.0    2054
240.0    2010
270.0    1957
180.0    1892
330.0    1877
400.0    1860
Name: totalPrice, dtype: int64
---------------------------
50000     198
40000     124
3         91
60000     85
33334     75
41667     73
100000    69
30000     67
66667     63
38462     60
2         60
20000     60
25000     58
28572     53
55556     52
Name: price, dtype: int64
---------------------------
89.0    529
58.0    489
60.0    472
57.0    425
61.0    385
55.0    334
63.0    324
59.0    321
62.0    304
54.0    297
61.6    291
63.1    288
65.0    275
56.0    268
71.0    265
Name: square, dtype: int64
---------------------------
2.0    160589
1.0    82386
3.0    67611
4.0    6821
5.0    1107
6.0    228
7.0    37
0.0    28
8.0    7
9.0    5
Name: livingRoom, dtype: int64
---------------------------
1.0    225659
2.0    72502
0.0    19686
3.0    918
4.0    47
5.0    7
Name: drawingRoom, dtype: int64
---------------------------
1    315290
0    2680
2    828
3    29
4    24
Name: kitchen, dtype: int64
---------------------------
1.0    261488
2.0    52606
3.0    3240
0.0    915
4.0    489
5.0    69
6.0    9
7.0    3
Name: bathRoom, dtype: int64
---------------------------
ÖÐ 6     34788
¶¥ 6     22763
¸ß 6     20904
µÍ 6     15737
µ× 6     13338
ÖÐ 5     8227
ÖÐ 18    7982
¸ß 18    6536
µÍ 18    6258
ÖÐ 16    6151
ÖÐ 7     4914
ÖÐ 24    4764
ÖÐ 11    4549
µÍ 16    4174
ÖÐ 20    4145
Name: floor, dtype: int64
---------------------------
4.000    172405
1.000    84541
3.000    59715
2.000    137
0.500    15
0.333    5
0.048    4
0.125    3
0.250    2
0.429    1
0.375    1
0.667    1
Name: buildingType, dtype: int64
---------------------------
2004.0    21145
2003.0    19409
2005.0    18924
2006.0    14854
2007.0    14213
2000.0    13903
2002.0    12358
2008.0    12162
2009.0    11565
1998.0    11308
2001.0    10597
1999.0    10204
1995.0    9073
1996.0    9068
1992.0    8482
Name: constructionTime, dtype: int64
---------------------------
1    118746
4    117438
3    77251
2    5390
0    26
Name: renovationCondition, dtype: int64
---------------------------
6    188067
2    115779
4    14341
3    253
1    196
5    187
0    28
Name: buildingStructure, dtype: int64
---------------------------
0.500    110639
0.333    65885
0.250    44065
0.200    14277
0.667    8434
0.167    7410
0.286    7381
0.300    7105
0.400    6997
1.000    6171
0.375    6075
0.222    4360
0.143    2837
0.125    2830
0.182    1776
Name: ladderRatio, dtype: int64
---------------------------
1.0    183976
0.0    134843
Name: elevator, dtype: int64
---------------------------
1.0    205830
0.0    112989
Name: fiveYearsProperty, dtype: int64
---------------------------
1.0    191646
0.0    127173
Name: subway, dtype: int64
---------------------------
7     107244
6     38634
8     38200
10    31293
2     29338
1     17086
4     15313
11    13974
9     11371
13    9202
5     2955
3     2537
12    1704
Name: district, dtype: int64
---------------------------
92360.0    1525
54263.0    1499
40934.0    1350
50205.0    1331
64222.0    1247
70655.0    1169
33820.0    1060
36869.0    885
37661.0    873
38384.0    872
56631.0    853
46072.0    781
60348.0    756
38281.0    739
48298.0    730
Name: communityAverage, dtype: int64
---------------------------

In [230]:
# Correcting invalid values in buildingType variable
filt = dataset['buildingType'] < 1
dataset.loc[filt, 'buildingType'] = 0
dataset['buildingType'] = dataset['buildingType'].replace(to_replace=0,value=dataset['buildingType'].mode()[0])

In [231]:
# Correcting invalid values in renovationCondition variable
filt = dataset['renovationCondition'] < 1
dataset.loc[filt, 'renovationCondition'] = 1

In [232]:
# Correcting invalid values in buildingStructure variable
filt = dataset['buildingStructure'] < 1
dataset.loc[filt, 'buildingStructure'] = 1

In [233]:
# Displaying number of null on each variables
dataset.isnull().sum()

Lng                    0
Lat                    0
followers              0
totalPrice             0
price                  0
square                 0
livingRoom             32
drawingRoom            32
kitchen                0
bathRoom               32
floor                  0
buildingType           2021
constructionTime       19315
renovationCondition    0
buildingStructure      0
ladderRatio            0
elevator               32
fiveYearsProperty      32
subway                 32
district               0
communityAverage       463
dtype: int64

In [234]:
# Displaying detailed info about variables 
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318851 entries, 0 to 318850
Data columns (total 21 columns):
Lng                    318851 non-null float64
Lat                    318851 non-null float64
followers              318851 non-null int64
totalPrice             318851 non-null float64
price                  318851 non-null int64
square                 318851 non-null float64
livingRoom             318819 non-null float64
drawingRoom            318819 non-null float64
kitchen                318851 non-null int64
bathRoom               318819 non-null float64
floor                  318851 non-null object
buildingType           316830 non-null float64
constructionTime       299536 non-null float64
renovationCondition    318851 non-null int64
buildingStructure      318851 non-null int64
ladderRatio            318851 non-null float64
elevator               318819 non-null float64
fiveYearsProperty      318819 non-null float64
subway                 318819 non-null float64
district               318851 non-null int64
communityAverage       318388 non-null float64
dtypes: float64(14), int64(6), object(1)
memory usage: 51.1+ MB

In [235]:
# Method to split floor into floor type and floor number
def floortype(data):
    temp = data.split(' ')
    if len(temp) == 2:
        return temp[0]
    else:
        return np.nan

def floornumber(data):
    temp = data.split(' ')
    if len(temp) == 2:
        return int(temp[1])
    else:
        return np.nan

In [236]:
# Splitting floor into floor type and number
dataset['floorType']= dataset['floor'].apply(lambda x: floortype(x))
dataset['floorNumber']= dataset['floor'].apply(lambda x: floornumber(x))

In [237]:
# Displaying detailed info about variables 
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318851 entries, 0 to 318850
Data columns (total 23 columns):
Lng                    318851 non-null float64
Lat                    318851 non-null float64
followers              318851 non-null int64
totalPrice             318851 non-null float64
price                  318851 non-null int64
square                 318851 non-null float64
livingRoom             318819 non-null float64
drawingRoom            318819 non-null float64
kitchen                318851 non-null int64
bathRoom               318819 non-null float64
floor                  318851 non-null object
buildingType           316830 non-null float64
constructionTime       299536 non-null float64
renovationCondition    318851 non-null int64
buildingStructure      318851 non-null int64
ladderRatio            318851 non-null float64
elevator               318819 non-null float64
fiveYearsProperty      318819 non-null float64
subway                 318819 non-null float64
district               318851 non-null int64
communityAverage       318388 non-null float64
floorType              318819 non-null object
floorNumber            318819 non-null float64
dtypes: float64(15), int64(6), object(2)
memory usage: 56.0+ MB

In [238]:
# Displaying first few records
dataset.head()

,Lng,Lat,followers,totalPrice,price,square,livingRoom,drawingRoom,kitchen,bathRoom,floor,buildingType,constructionTime,renovationCondition,buildingStructure,ladderRatio,elevator,fiveYearsProperty,subway,district,communityAverage,floorType,floorNumber
0,116.475489,40.019520,106,415.0,31680,131.00,2.0,1.0,1,1.0,¸ß 26,1.0,2005.0,3,6,0.217,1.0,0.0,1.0,7,56021.0,¸ß,26.0
1,116.453917,39.881534,126,575.0,43436,132.38,2.0,2.0,1,2.0,¸ß 22,1.0,2004.0,4,6,0.667,1.0,1.0,0.0,7,71539.0,¸ß,22.0
2,116.561978,39.877145,48,1030.0,52021,198.00,3.0,2.0,1,3.0,ÖÐ 4,4.0,2005.0,3,6,0.500,1.0,0.0,0.0,7,48160.0,ÖÐ,4.0
3,116.438010,40.076114,138,297.5,22202,134.00,3.0,1.0,1,1.0,µ× 21,1.0,2008.0,1,6,0.273,1.0,0.0,0.0,6,51238.0,µ×,21.0
4,116.428392,39.886229,286,392.0,48396,81.00,2.0,1.0,1,1.0,ÖÐ 6,4.0,1960.0,2,2,0.333,0.0,1.0,1.0,1,62588.0,ÖÐ,6.0

In [239]:
# Dropping floor variable
dataset = dataset.drop('floor', axis = 1)

In [240]:
dataset['floorType'].value_counts()

ÖÐ      119832
¸ß      70094
µÍ      64136
¶¥      37406
µ×      26080
Î´Öª    1271
Name: floorType, dtype: int64

In [241]:
# Displaying first few records
dataset.head()

,Lng,Lat,followers,totalPrice,price,square,livingRoom,drawingRoom,kitchen,bathRoom,buildingType,constructionTime,renovationCondition,buildingStructure,ladderRatio,elevator,fiveYearsProperty,subway,district,communityAverage,floorType,floorNumber
0,116.475489,40.019520,106,415.0,31680,131.00,2.0,1.0,1,1.0,1.0,2005.0,3,6,0.217,1.0,0.0,1.0,7,56021.0,¸ß,26.0
1,116.453917,39.881534,126,575.0,43436,132.38,2.0,2.0,1,2.0,1.0,2004.0,4,6,0.667,1.0,1.0,0.0,7,71539.0,¸ß,22.0
2,116.561978,39.877145,48,1030.0,52021,198.00,3.0,2.0,1,3.0,4.0,2005.0,3,6,0.500,1.0,0.0,0.0,7,48160.0,ÖÐ,4.0
3,116.438010,40.076114,138,297.5,22202,134.00,3.0,1.0,1,1.0,1.0,2008.0,1,6,0.273,1.0,0.0,0.0,6,51238.0,µ×,21.0
4,116.428392,39.886229,286,392.0,48396,81.00,2.0,1.0,1,1.0,4.0,1960.0,2,2,0.333,0.0,1.0,1.0,1,62588.0,ÖÐ,6.0

In [242]:
# Displaying numerical stats
dataset.describe()

,Lng,Lat,followers,totalPrice,price,square,livingRoom,drawingRoom,kitchen,bathRoom,buildingType,constructionTime,renovationCondition,buildingStructure,ladderRatio,elevator,fiveYearsProperty,subway,district,communityAverage,floorNumber
count,318851.000000,318851.000000,318851.000000,318851.000000,318851.000000,318851.000000,318819.000000,318819.000000,318851.000000,318819.000000,316830.000000,299536.000000,318851.000000,318851.000000,3.188510e+05,318819.000000,318819.000000,318819.000000,318851.000000,318388.000000,318819.000000
mean,116.418459,39.949591,16.731508,349.030201,43530.436379,83.240597,2.010370,1.171950,0.994599,1.188122,3.010157,1999.216021,2.606412,4.451114,6.316486e+01,0.577055,0.645601,0.601112,6.763564,63682.446305,13.299910
std,0.112054,0.091983,34.209185,230.780778,21709.024204,37.234661,0.776822,0.522287,0.109609,0.437544,1.269617,8.777396,1.311608,1.901571,2.506851e+04,0.494028,0.478331,0.489670,2.812616,22329.215447,7.826689
min,116.072514,39.627030,0.000000,0.100000,1.000000,6.900000,0.000000,0.000000,0.000000,0.000000,1.000000,1906.000000,1.000000,1.000000,0.000000e+00,0.000000,0.000000,0.000000,1.000000,10847.000000,1.000000
25%,116.344985,39.893200,0.000000,205.000000,28050.000000,57.900000,1.000000,1.000000,1.000000,1.000000,1.000000,1994.000000,1.000000,2.000000,2.500000e-01,0.000000,0.000000,0.000000,6.000000,46339.000000,6.000000
50%,116.416780,39.934527,5.000000,294.000000,38737.000000,74.260000,2.000000,1.000000,1.000000,1.000000,4.000000,2001.000000,3.000000,6.000000,3.330000e-01,1.000000,1.000000,1.000000,7.000000,59015.000000,11.000000
75%,116.477581,40.003018,18.000000,425.500000,53819.500000,98.710000,2.000000,1.000000,1.000000,1.000000,4.000000,2006.000000,4.000000,6.000000,5.000000e-01,1.000000,1.000000,1.000000,8.000000,75950.000000,19.000000
max,116.732378,40.252758,1143.000000,18130.000000,156250.000000,1745.500000,9.000000,5.000000,4.000000,7.000000,4.000000,2016.000000,4.000000,6.000000,1.000940e+07,1.000000,1.000000,1.000000,13.000000,183109.000000,63.000000

In [243]:
# Displaying number of null on each variables
dataset.isnull().sum()

Lng                    0
Lat                    0
followers              0
totalPrice             0
price                  0
square                 0
livingRoom             32
drawingRoom            32
kitchen                0
bathRoom               32
buildingType           2021
constructionTime       19315
renovationCondition    0
buildingStructure      0
ladderRatio            0
elevator               32
fiveYearsProperty      32
subway                 32
district               0
communityAverage       463
floorType              32
floorNumber            32
dtype: int64

In [244]:
# Displaying number of null on each variables
dataset.isnull().sum()

Lng                    0
Lat                    0
followers              0
totalPrice             0
price                  0
square                 0
livingRoom             32
drawingRoom            32
kitchen                0
bathRoom               32
buildingType           2021
constructionTime       19315
renovationCondition    0
buildingStructure      0
ladderRatio            0
elevator               32
fiveYearsProperty      32
subway                 32
district               0
communityAverage       463
floorType              32
floorNumber            32
dtype: int64

In [245]:
# Method to Replace null values with their mode or mean
def fillnullvalues(variable, filltype):
    if filltype == 'mode':
        dataset[variable] = dataset[variable].fillna(dataset[variable].mode()[0])
    elif filltype == 'mean':
        dataset[variable] = dataset[variable].fillna(dataset[variable].mean())

In [246]:
mode = ['livingRoom', 'drawingRoom', 'bathRoom', 'buildingType', 'constructionTime', 'elevator', 'fiveYearsProperty', 'subway', 'floorType', 'floorNumber']

In [247]:
# Replacing null values with their mode or mean
for i in mode:
    fillnullvalues(i, 'mode')

fillnullvalues('communityAverage', 'mean')

In [248]:
# Displaying number of null on each variables
dataset.isnull().sum()

Lng                    0
Lat                    0
followers              0
totalPrice             0
price                  0
square                 0
livingRoom             0
drawingRoom            0
kitchen                0
bathRoom               0
buildingType           0
constructionTime       0
renovationCondition    0
buildingStructure      0
ladderRatio            0
elevator               0
fiveYearsProperty      0
subway                 0
district               0
communityAverage       0
floorType              0
floorNumber            0
dtype: int64

In [249]:
# Displaying first few records
dataset.head()

,Lng,Lat,followers,totalPrice,price,square,livingRoom,drawingRoom,kitchen,bathRoom,buildingType,constructionTime,renovationCondition,buildingStructure,ladderRatio,elevator,fiveYearsProperty,subway,district,communityAverage,floorType,floorNumber
0,116.475489,40.019520,106,415.0,31680,131.00,2.0,1.0,1,1.0,1.0,2005.0,3,6,0.217,1.0,0.0,1.0,7,56021.0,¸ß,26.0
1,116.453917,39.881534,126,575.0,43436,132.38,2.0,2.0,1,2.0,1.0,2004.0,4,6,0.667,1.0,1.0,0.0,7,71539.0,¸ß,22.0
2,116.561978,39.877145,48,1030.0,52021,198.00,3.0,2.0,1,3.0,4.0,2005.0,3,6,0.500,1.0,0.0,0.0,7,48160.0,ÖÐ,4.0
3,116.438010,40.076114,138,297.5,22202,134.00,3.0,1.0,1,1.0,1.0,2008.0,1,6,0.273,1.0,0.0,0.0,6,51238.0,µ×,21.0
4,116.428392,39.886229,286,392.0,48396,81.00,2.0,1.0,1,1.0,4.0,1960.0,2,2,0.333,0.0,1.0,1.0,1,62588.0,ÖÐ,6.0

In [250]:
# Exporting cleaned data
dataset.to_csv('data_cleaned.csv', index = False, encoding = 'iso-8859-1')

In [251]:
# Finding Outliers

In [252]:
# Displaying detailed info about variables 
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318851 entries, 0 to 318850
Data columns (total 22 columns):
Lng                    318851 non-null float64
Lat                    318851 non-null float64
followers              318851 non-null int64
totalPrice             318851 non-null float64
price                  318851 non-null int64
square                 318851 non-null float64
livingRoom             318851 non-null float64
drawingRoom            318851 non-null float64
kitchen                318851 non-null int64
bathRoom               318851 non-null float64
buildingType           318851 non-null float64
constructionTime       318851 non-null float64
renovationCondition    318851 non-null int64
buildingStructure      318851 non-null int64
ladderRatio            318851 non-null float64
elevator               318851 non-null float64
fiveYearsProperty      318851 non-null float64
subway                 318851 non-null float64
district               318851 non-null int64
communityAverage       318851 non-null float64
floorType              318851 non-null object
floorNumber            318851 non-null float64
dtypes: float64(15), int64(6), object(1)
memory usage: 53.5+ MB

In [253]:
# Displaying numerical stats
dataset.describe()

,Lng,Lat,followers,totalPrice,price,square,livingRoom,drawingRoom,kitchen,bathRoom,buildingType,constructionTime,renovationCondition,buildingStructure,ladderRatio,elevator,fiveYearsProperty,subway,district,communityAverage,floorNumber
count,318851.000000,318851.000000,318851.000000,318851.000000,318851.000000,318851.000000,318851.000000,318851.000000,318851.000000,318851.000000,318851.000000,318851.000000,318851.000000,318851.000000,3.188510e+05,318851.000000,318851.000000,318851.000000,318851.000000,318851.000000,318851.000000
mean,116.418459,39.949591,16.731508,349.030201,43530.436379,83.240597,2.010368,1.171933,0.994599,1.188104,3.016431,1999.505819,2.606412,4.451114,6.316486e+01,0.577097,0.645637,0.601152,6.763564,63682.446305,13.299177
std,0.112054,0.091983,34.209185,230.780778,21709.024204,37.234661,0.776783,0.522264,0.109609,0.437526,1.268023,8.583593,1.311608,1.901571,2.506851e+04,0.494021,0.478321,0.489662,2.812616,22312.997504,7.826638
min,116.072514,39.627030,0.000000,0.100000,1.000000,6.900000,0.000000,0.000000,0.000000,0.000000,1.000000,1906.000000,1.000000,1.000000,0.000000e+00,0.000000,0.000000,0.000000,1.000000,10847.000000,1.000000
25%,116.344985,39.893200,0.000000,205.000000,28050.000000,57.900000,1.000000,1.000000,1.000000,1.000000,1.000000,1994.000000,1.000000,2.000000,2.500000e-01,0.000000,0.000000,0.000000,6.000000,46339.000000,6.000000
50%,116.416780,39.934527,5.000000,294.000000,38737.000000,74.260000,2.000000,1.000000,1.000000,1.000000,4.000000,2002.000000,3.000000,6.000000,3.330000e-01,1.000000,1.000000,1.000000,7.000000,59021.000000,11.000000
75%,116.477581,40.003018,18.000000,425.500000,53819.500000,98.710000,2.000000,1.000000,1.000000,1.000000,4.000000,2005.000000,4.000000,6.000000,5.000000e-01,1.000000,1.000000,1.000000,8.000000,75942.000000,19.000000
max,116.732378,40.252758,1143.000000,18130.000000,156250.000000,1745.500000,9.000000,5.000000,4.000000,7.000000,4.000000,2016.000000,4.000000,6.000000,1.000940e+07,1.000000,1.000000,1.000000,13.000000,183109.000000,63.000000

In [254]:

dataset['totalPrice'].sort_values().head()
dataset['totalPrice'].sort_values(ascending=False).head()

67868     18130.0
65440     11600.0
23183     6000.0
161033    5700.0
63778     5500.0
Name: totalPrice, dtype: float64

In [255]:
dataset.quantile(.99, axis=0)

Lng                    116.692569
Lat                    40.190146
followers              159.000000
totalPrice             1200.000000
price                  115405.000000
square                 211.360000
livingRoom             4.000000
drawingRoom            2.000000
kitchen                1.000000
bathRoom               3.000000
buildingType           4.000000
constructionTime       2013.000000
renovationCondition    4.000000
buildingStructure      6.000000
ladderRatio            1.000000
elevator               1.000000
fiveYearsProperty      1.000000
subway                 1.000000
district               13.000000
communityAverage       130831.000000
floorNumber            32.000000
Name: 0.99, dtype: float64

In [256]:
# Creating Dummies variables on categorical variables
df_dummies = pd.get_dummies(dataset, columns=['buildingType', 'renovationCondition', 'buildingStructure', 'elevator', 'fiveYearsProperty', 'subway', 'district', 'floorType'], drop_first=True)

In [266]:
df_dummies.head()

,totalPrice,Lng,Lat,followers,price,square,livingRoom,drawingRoom,kitchen,bathRoom,constructionTime,ladderRatio,communityAverage,floorNumber,buildingType_2.0,buildingType_3.0,buildingType_4.0,renovationCondition_2,renovationCondition_3,renovationCondition_4,buildingStructure_2,buildingStructure_3,buildingStructure_4,buildingStructure_5,buildingStructure_6,elevator_1.0,fiveYearsProperty_1.0,subway_1.0,district_2,district_3,district_4,district_5,district_6,district_7,district_8,district_9,district_10,district_11,district_12,district_13,floorType_µ×,floorType_¶¥,floorType_¸ß,floorType_Î´Öª,floorType_ÖÐ
0,415.0,116.475489,40.019520,106,31680,131.00,2.0,1.0,1,1.0,2005.0,0.217,56021.0,26.0,0,0,0,0,1,0,0,0,0,0,1,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0
1,575.0,116.453917,39.881534,126,43436,132.38,2.0,2.0,1,2.0,2004.0,0.667,71539.0,22.0,0,0,0,0,0,1,0,0,0,0,1,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0
2,1030.0,116.561978,39.877145,48,52021,198.00,3.0,2.0,1,3.0,2005.0,0.500,48160.0,4.0,0,0,1,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
3,297.5,116.438010,40.076114,138,22202,134.00,3.0,1.0,1,1.0,2008.0,0.273,51238.0,21.0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0
4,392.0,116.428392,39.886229,286,48396,81.00,2.0,1.0,1,1.0,1960.0,0.333,62588.0,6.0,0,0,1,1,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [265]:
col = list(df_dummies.columns.values)
col.pop(col.index('totalPrice'))
df_dummies = df_dummies[['totalPrice'] + col]

In [267]:
df_dummies.to_csv('data_cleaned_dummies.csv', index = False, encoding = 'iso-8859-1')